body{
	background-color: #ecf0f1


}

h1{
	font-family: Helvetica, "Sans-serif";
	text-decoration: underline;
	text-transform: uppercase;
}

#slogan{
	font-style: italic;
}
#small{
	line-height: 90%;
	font-size: 14px;
	color: gray;
}

img{
	border-style: solid;
	border-width:6px;
}




